* {
    box-sizing: border-box;
  }


body {
    background-image: url("../images/papyrus.png");
    background-repeat: repeat;
}

/* Styles header and body containers */

.container {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    width: 960px;
}

/* Styles main header/nav bar */

header {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    height: 60px;
    margin-bottom: 40px;
}

#brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 100%;
    float:left;
    line-height:28px;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav	{
    float:right;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

li {
    padding: 10px;
	float: left;
    width: 33%;
}

li.navlinks {
	padding: 10px;
	border-right: 1px solid #cccccc;
}

a {
	text-decoration: none;
	color: #777777;
}

/* Styles content in body */

#body-content {
    min-height: calc(100vh - 264px);
}
  
.content-box {
    background-color: #fff;
	padding: 30px;
	border: 1px solid #ddd;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}