* {
    box-sizing: border-box;
  }


body {
    width: 960px;
}

.header-box {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    height: 60px;
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 100%;
    float:left;
    line-height:30px;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav	{
    float:right;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

li {
    padding: 10px;
	float: left;
    width: 33%;
}

li.navlinks {
	padding: 10px;
	border-right: 1px solid #cccccc;
}

a {
	text-decoration: none;
	color: #777777;
}


.body-box {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background-image: url("/assets/images/papyrus.png");
    height: 600px;
    width: 100%;
    border-bottom: 5px solid #4aaaa5;
}

section	{
	background-color: #ffffff;
	float: left;
	color: #777777;
    border: 2px solid #dddddd;
    width:100%;
}