* {
    box-sizing: border-box;
  }


body {
    background-image: url("../images/papyrus.png");
    background-repeat: repeat;
}

/* Styles header and body containers */

.container {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    width: 960px;
}

/* Styles main header/nav bar */

header {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    height: 60px;
    margin-bottom: 40px;
}

#brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 250px;
    height: 100%;
    float:left;
    line-height:28px;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav	{
    float:right;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

li {
    padding: 10px;
	float: left;
    width: 33%;
}

li.navlinks {
	padding: 10px;
	border-right: 1px solid #cccccc;
}

a {
	text-decoration: none;
	color: #777777;
}

/* Styles content in main body */


#content-box {
    background-color: #fff;
	padding: 30px;
    border: 1px solid #ddd;
    height: 300px
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    font-size: 30px;
}

.profile-pic {
    float: left;
    margin-right: 30px;
}

/* Styles footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    vertical-align: middle;
    font-size: 10px;
    color: #ccc;
}

/* Styles portfolio gallery */

.gallery {
    float: left;
    position: relative;
    overflow: auto;
    width: 250px;
    margin: 20px 0 25px;
}

#gallery-box {
    background-color: #fff;
	padding: 30px;
    border: 1px solid #ddd;
    height: 600px;
}